* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom, #2b5876, #09203f);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #63a69f;
  /* 相对定位 */
  position: relative;
  animation: a1 2s linear infinite;
}
.loading::before,
.loading::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loading::before {
  border-top: 10px solid #f2e1ac;
  transform: rotate(120deg);
}
.loading::after {
  border-top: 10px solid #f2836b;
  transform: rotate(240deg);
}
.loading span {
  position: absolute;
  color: #fff;
  height: 200px;
  width: 200px;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

/* 定义动画 */
@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
